{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-6">
      <h1>Welcome to my homepage<h1>
    </div>
    <div class="col-sm">
       {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        {% else %}
        <a href="{% url 'login'%}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <span class="text-muted">Web development Django 2.x</span>
    </div>
</footer>
{% endblock %}